---
layout: archive
title: "Teaching Assistant"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h3>Machine Learning , Spring 2023</h3>
Professor Incharge: <a href="https://nipunbatra.github.io/">Nipun Batra</a> <br>
Organised and evaluated quizzes, assignments, took vivas for a classroom of 300 students, while also playing a pivotal role in supporting classroom logistics.

<h3>Computer Systems , Fall 2023</h3>
Professor Incharge: <a href ="https://abhishek.people.iitgn.ac.in/">Abhishek Bichhawat</a> , <a href="https://www.iitgn.ac.in/faculty/cse/sameer">Sameer G Kulkarni</a> <br>
Graded assignments and assisted the professor run a class of 40 students smoothly.

<h3>World of Engineering , Summer 2023</h3>
Professor Incharge: <a href ="https://www.iitgn.ac.in/faculty/civil/fac-udit">Udit Bhatia</a> <br>
Mentored a group of 30 students in the identification, conceptualization, and modeling of a prototype to address a real-world problem, fostering their problem-solving abilities and teamwork skills.

<h3>Probability, Statistics and Data Visualization , Spring 2023</h3>
Professor Incharge: <a href="https://people.iitgn.ac.in/~shanmuga/">Shanmuganathan Raman</a> <br>
Successfully guided over 30 students in Python libraries, including Numpy, Pandas, Matplotlib, Scipy, and Scikit-learn, enhancing their data visualization skills.

<h3>Introduction to Computing , Winter 2022</h3>
Professor Incharge: <a href="https://nipunbatra.github.io/">Nipun Batra</a> , <a href="https://bkomarath.rbgo.in/">Balagopal Komarath</a> <br>
Led a Python lab for 30 students, teaching them essential Python concepts, and helped manage logistics, invigilation, and quiz evaluation for a class of 300 students.
